body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    margin: 0;
    line-height: 30px;
    background: url(../assets/page/satinweave.png) #f4f4f4;
}

#game-container{
    height:800px;
}

.connect{
    margin: -50px 0 20px 0;
}

.connect .title {
    font-size:14px;
    font-weight:bold;
    line-height:20px;
    margin-left:-14px;
    text-align: center;
}

.connect ul{
    list-style-type: none;
    padding:0;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.connect ul li{
    margin: 8px 0;
    cursor: pointer;
    display: inline-block;
}
.footer {
    background-color: #454545;
    height: 220px;
    padding-top: 30px;
    text-align: center;
    font-size: 14px;
}
.footer a {
    color:white;
    opacity: 0.8;
    text-decoration:none;
}
.footer a:hover {
    opacity:1;
    text-decoration:underline;
}

#instructions {
    opacity: 0;
    width: 170px;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    background-color: #f6f2f0;
    color: #2c3e50;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    left: 940px;
    border:4px solid white!important;
    margin-left: 5px;
}

@media (min-width: 1200px) {
    .connect {
        margin:0;
        display:block;
        position:fixed;
        top:200px;
        left: 100px;
    }
    .connect ul li{
        display: block;
    }
}