body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    margin: 0;
    line-height: 30px;
    background: url(../assets/page/satinweave.png) #f4f4f4;
}

#game-container{
    height:800px;
}

.connect{
    position:fixed;
    top:200px;
    left:150px;
}
.connect ul{
    list-style-type: none;
    padding:0;
}
.connect ul li{
    margin: 8px 0;
    cursor: pointer;
}
.footer {
    background-color: #454545;
    height: 220px;
    padding-top: 30px;
    text-align: center;
    font-size: 14px;
}
.footer a {
    color:white;
    opacity: 0.8;
    text-decoration:none;
}
.footer a:hover {
    opacity:1;
    text-decoration:underline;
}
